<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeOIgkCQ7c81TusRaXrcIfNkAXpYbnzrk</string>
	<key>GCM_SENDER_ID</key>
	<string>446041018786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireBase</string>
	<key>PROJECT_ID</key>
	<string>dumy-ce60a</string>
	<key>STORAGE_BUCKET</key>
	<string>dumy-ce60a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446041018786:ios:28ebff5ae69f3032c122fb</string>
</dict>
</plist>